
/* Margin top */

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mt60 {
  margin-top: 60px;
}

.mt70 {
  margin-top: 70px;
}

.mt80 {
  margin-top: 80px;
}

.mt90 {
  margin-top: 90px;
}
/* Margin Bottom */
.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb90 {
  margin-bottom: 90px;
}

/* Margin Top */
.pd10 {
  margin-bottom: 10px;
}

.pd20 {
  margin-top: 20px;
}

.pd30 {
  margin-top: 30px;
}

.pd30 {
  margin-top: 30px;
}

.pd40 {
  margin-top: 40px;
}

.pd50 {
  margin-top: 50px;
}

.pd60 {
  margin-top: 60px;
}

.pd70 {
  margin-top: 70px;
}

.pd80 {
  margin-top: 80px;
}

.pd90 {
  margin-top: 90px;
}

/* Padding */

.pd10 {
  padding: 10px;
}

.pd20 {
  padding: 20px;
}

.pd30 {
  padding: 30px;
}

.pd30 {
  padding: 30px;
}

.pd40 {
  padding: 40px;
}

.pd50 {
  padding: 50px;
}

.pd60 {
  padding: 60px;
}

.pd70 {
  padding: 70px;
}

.pd80 {
  padding: 80px;
}

.pd90 {
  padding: 90px;
}

/* padding Bottom */
.pdb10 {
  padding-bottom: 10px;
}

.pdb20 {
  padding-bottom: 20px;
}

.pdb30 {
  padding-bottom: 30px;
}

.pdb30 {
  padding-bottom: 30px;
}

.pdb40 {
  padding-bottom: 40px;
}

.pdb50 {
  padding-bottom: 50px;
}

.pdb60 {
  padding-bottom: 60px;
}

.pdb70 {
  padding-bottom: 70px;
}

.pdb80 {
  padding-bottom: 80px;
}

.pdb90 {
  padding-bottom: 90px;
}

/* padding Top */
.pdt10 {
  padding-top: 10px;
}

.pdt20 {
  padding-top: 20px;
}

.pdt30 {
  padding-top: 30px;
}

.pdt30 {
  padding-top: 30px;
}

.pdt40 {
  padding-top: 40px;
}

.pdt50 {
  padding-top: 50px;
}

.pdt60 {
  padding-top: 60px;
}

.pdt70 {
  padding-top: 70px;
}

.pdt80 {
  padding-top: 80px;
}

.pdt90 {
  padding-top: 90px;
}
